* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  height: 100vh;
  /* position: relative; */
  background: linear-gradient(to right, #000000, #000000, transparent 90%),
    linear-gradient(to top, #f5c974, #f237f6, #eb03ff, #8103ff, #032cff);
}

.header {
  width: 90%;
  height: 10vh;
  border-radius: 40px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 50;
}
.navbar-brand {
  color: white;
}
.navbar-toggler {
  border: 1px solid #4c0b58;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.contact-btn {
  width: 8em;
  border-radius: 20px;
  border: none;
}
.pictures-section {
  height: 86.4vh;
}
.big-glow,
.side-curve {
  width: 45em;
}

.name {
  position: absolute;
  bottom: 9em;
  margin-left: 2.5em;
  font-size: 3em;
}
.last-name {
  color: #7e0289;
}
.line {
  height: 5em;
  width: 1px;
  background-color: white;
}
.fa-circle {
  font-size: 4px;
  color: white;
  position: absolute;
  left: -1.3px;
}
.discription {
  position: absolute;
  bottom: 17em;
  margin-left: 8em;
}
.social-media-section {
  bottom: 10em;
  left: 6em;
  width: 20em;
  justify-content: space-between;
}
.social-media-section a i:hover {
  color: #7e0289;
}
.myInformation {
  width: 10em;
}
.about-section {
  background: linear-gradient(to right, #060c1e, #060c1e, transparent 100%),
    linear-gradient(to bottom, #17153b 15%, #7e0289, #17153b);
}
.dot-image {
  position: absolute;
  right: 41px;
  margin-top: 2em;
  width: 11em;
}
.about-section .contact-btn2 {
  width: 11em;
  padding: 12px;
  border: none;
  border-radius: 65px;
  font-weight: bold;
  background-color: #f237f6;
  color: #f5f5f5;
}
.about-section .contact-btn2:hover {
  background-color: #e133e4;
}
.aboutme-text {
  font-size: 4em;
}
.skills-section {
  background: linear-gradient(to right, #060c1e, #060c1e, transparent 100%),
    linear-gradient(to bottom, #17153b 15%, #7e0289, #17153b);
}
.skills-header,
.projects-header {
  font-size: 5em;
  letter-spacing: 2px;
}
.skill {
  width: 10em;
  height: 10em;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease 0s;
}
.skill-logo {
  font-size: 4em;
}
.skill:hover {
  border: 2.2px solid rgba(197, 115, 230, 0.883);
  overflow: hidden;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}
.projects-section {
  background: linear-gradient(
      to bottom right,
      #060c1e,
      #56035e,
      #060c1e,
      transparent 100%
    ),
    linear-gradient(to left, #17153b 15%, #060c1e, #17153b, transparent 90%);
}
.project {
  border-radius: 15px;
}
.dotpattern-image-right {
  margin-left: 10em;
}
.dotpattern-image-left {
  margin-right: 10em;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    margin-top: 0.9em;
    border-radius: 20px;
  }
  .navbar-toggler {
    margin-right: 10px;
    margin-top: 5px;
  }
  .navbar-toggler:focus-visible,
  .navbar-toggler:focus {
    outline: none !important;
  }
  .dot-image {
    display: none;
  }
  .personal-info {
    width: 100% !important;
  }
  .project {
    width: 60%;
  }
  .dotpattern-image-right {
    margin-left: 6em;
    width: 10em;
  }
  .dotpattern-image-left {
    margin-right: 6em;
    width: 10em;
  }
}

@media screen and (min-width: 992px) {
  .links {
    width: 32em;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5em;
  }
  .skills-section {
    height: 100vh;
  }
}
@media screen and (max-width: 1115px) {
  .big-glow,
  .side-curve {
    width: 33em;
  }
}
@media screen and (max-width: 920px) {
  .big-glow,
  .side-curve {
    width: 24em;
  }
}
@media screen and (max-width: 768px) {
  .project {
    width: 80%;
  }
  .dotpattern-image-right {
    margin-left: 1em;
    width: 5em;
  }
  .dotpattern-image-left {
    margin-right: 1em;
    width: 5em;
  }
}
@media screen and (max-width: 550px) {
  .social-media-section {
    bottom: 16em;
    left: 2em;
  }
  .discription {
    bottom: 20em;
  }
  .project {
    width: 90%;
  }
  .dotpattern-image-right,
  .dotpattern-image-left {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .name {
    margin-left: 1em;
  }
  .last-name {
    margin-left: 1em;
  }
}
